# Local configuration files (sdk path, etc)
local.properties
keystore.properties
#gradle.properties

# Eclipse project files
.classpath
.project

# Android Studio
*.iml
.idea
.gradle
build/

# Don't ignore run configurations
!.idea/runConfigurations/*

