# Local configuration file (sdk path, etc)
local.properties

# Local gradle config file
#gradle.properties

# Eclipse project files
.classpath
.project

# Android Studio
*.iml
.idea
.gradle
build/

# Don't ignore run configurations
!.idea/runConfigurations/*

